body, html{
background: linear-gradient(126deg, #0f0f0f, #3d3d3d);
font-family: 'Oswald', sans-serif;
color: #52FFB4;
z-index: 1;
background-size: 400% 400%;
animation: gradient 10s ease infinite;
}

.container{
  justify-content: center;
  display:flex;
  flex-direction:column;
  align-content: center;
  align-items: center;
  height: 100%;
}


@keyframes gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.svg {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

@keyframes duck {
  from {
  transform: translateY(200px);
  opacity: 0;

}

to {
  transform: translateY(0px);
  opacity: 1;
}
}

#b {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 600ms;
  animation-fill-mode: both;
}

#e {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 800ms;
  animation-fill-mode: both;


}

#q {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 1000ms;
  animation-fill-mode: both;


}

#u  {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 1200ms;
  animation-fill-mode: both;


}

#e-2 {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 1400ms;
  animation-fill-mode: both;
}

#line {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 1600ms;
  animation-fill-mode: both;
}

#korean {
  animation: duck 2s;
  animation-iteration-count: 1;
  animation-delay: 1800ms;
  animation-fill-mode: both;

}

.logo {
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  text-align: center;
  color: #FD5B5C;
  /* margin-top: 40px; */
}

.button a {
  text-decoration: none;
  color:inherit;
  display: inline;
  border-radius: 20px;
  transition: 200ms;
  padding:1em;
  border: 1px solid;
  margin: .3em;
  text-decoration: none;

}

a:hover {
  color:#5EFCE9;
}
